/* weather-by-hour */
.weather-by-hour {
   // display: none;
   width: 100%;
   overflow-x: auto;
   padding-bottom: 1rem;

   .weather-by-hour__heading {
      margin-bottom: 1rem;
   }
}

@media screen and (min-width: 700px) {
   .weather-by-hour {
      display: block;
   }
}

.weather-by-hour__container {
   display: flex;
   justify-content: space-between;
   min-width: 30rem;
}

.weather-by-hour__heading,
.next-5-days__heading {
   color: rgba(255, 255, 255, 0.8);
   font-size: 1em;
   font-weight: normal;
}

@media screen and (min-width: 768px) {

   .weather-by-hour__heading,
   .next-5-days__heading {
      font-size: 1.125em;
   }
}

.weather-by-hour__item {
   padding: 0.8em 0;
   width: 13%;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.15);
   font-size: 1rem;
   text-align: center;


   .weather-by-hour__icon_container {
      background: #8fadda6b;
      width: 80%;
      margin: auto;
      margin-bottom: .5rem;

      .weather-by-hour__icon {
         width: 100%;
      }
   }
}

@media screen and (min-width: 880px) {
   .weather-by-hour__item {
      width: 6.05em;
      font-size: 1.1rem;
   }

}

.weather-by-hour__hour {
   margin-bottom: 0.5em;

}