@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   margin: auto 12px;
   font-size: 100%;
   font-family: 'Open Sans', sans-serif;
   color: white;
   background: linear-gradient(to bottom, rgb(43, 50, 178) 0%, rgb(20, 136, 204) 100%);
   background-repeat: no-repeat;
   background-attachment: fixed;
}

li {
   list-style: none;
}

/*-----------------------*/
/* Responsive */
/*-----------------------*/
@media screen and (min-width: 700px) {
   body {
      margin: auto 20px;
   }
}