.modal {
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(1rem);
   top: 0;
   left: 0;
   padding: 2rem;
   width: 100vw;
   height: 100vh;
   z-index: 2;

   .modal_container {
      max-width: 35rem;
      padding: 2rem 3rem;
      color: #020202;
      background: #ffffff;

      .modal_title {
         color: #3177d1;
      }

      .modal_subtitle {
         color: #3177d1;
         margin-top: .5rem;
      }

      .modal_indent {
         margin-left: 1rem;
         margin-top: .5rem;
         color: #6d92c2;
      }

      .modal_link {
         &:hover {
            opacity: .9;
         }
      }

      .modal_button_container {
         width: 100%;
         text-align: center;

         .modal_button {
            padding: .7rem 1.4rem;
            width: fit-content;
            margin-top: 2rem;
            border: none;
            background: #3177d1;
            color: #ffffff;
            cursor: pointer;

            &:hover {
               opacity: .9;
            }
         }
      }
   }

}